config/earthdawnspells.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://earthdawn.com/spell" xmlns="http://earthdawn.com/spell" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:edt="http://earthdawn.com/datatypes">
	<xs:import namespace="http://earthdawn.com/datatypes" schemaLocation="earthdawndatatypes.xsd"/>
	<xs:element name="SPELLS">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" minOccurs="0" name="SPELL" type="edt:SPELLDEF_type"/>
			</xs:choice>
			<xs:attribute name="lang" type="edt:language_type" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
