config/earthdawncharacter.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://earthdawn.de" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://earthdawn.de">
	<xs:simpleType name="ATTRIBUT_name_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHA"/>
			<xs:enumeration value="DEX"/>
			<xs:enumeration value="STR"/>
			<xs:enumeration value="PER"/>
			<xs:enumeration value="WIL"/>
			<xs:enumeration value="TOU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="plusminus_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="+"/>
			<xs:enumeration value="-"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yesno_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="j"/>
			<xs:enumeration value="n"/>
			<xs:enumeration value="-"/>
			<xs:enumeration value="*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="geschlecht_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="m"/>
			<xs:enumeration value="w"/>
			<xs:enumeration value="-"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ATTRIBUT_type">
		<xs:attribute name="name" type="ATTRIBUT_name_type" use="required"/>
		<xs:attribute name="startwert" type="xs:integer" use="required"/>
		<xs:attribute name="stepup" type="xs:integer" use="required"/>
		<xs:attribute name="wert" type="xs:integer"/>
		<xs:attribute name="stufe" type="xs:integer"/>
		<xs:attribute name="wuerfel" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="GEGENSTAND_type">
		<xs:attribute name="bezeichnung" type="xs:string" use="required"/>
		<xs:attribute name="gewicht" type="xs:decimal" use="required"/>
	</xs:complexType>
	<xs:complexType name="AUSRUESTUNG_type">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" name="GEGENSTAND" type="GEGENSTAND_type"/>
		</xs:choice>
		<xs:attribute name="ort" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="BEWEGEN_type">
		<xs:attribute name="flug_kampf" type="xs:integer" use="required"/>
		<xs:attribute name="flug_normal" type="xs:integer" use="required"/>
		<xs:attribute name="laufen_kampf" type="xs:integer" use="required"/>
		<xs:attribute name="laufen_normal" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="DISCIPLINE_type">
		<xs:attribute name="Circle" type="xs:integer" use="required"/>
		<xs:attribute name="Label" type="xs:string" use="required"/>
		<xs:attribute name="Nr" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="GELD_type">
		<xs:attribute default="selbst" name="ort" type="xs:string" use="optional"/>
		<xs:attribute name="Kupfer" type="xs:integer"/>
		<xs:attribute name="Silber" type="xs:integer"/>
		<xs:attribute name="Gold" type="xs:integer"/>
		<xs:attribute name="Erde" type="xs:integer"/>
		<xs:attribute name="Wasser" type="xs:integer"/>
		<xs:attribute name="Feuer" type="xs:integer"/>
		<xs:attribute name="Luft" type="xs:integer"/>
		<xs:attribute name="Orichalcum" type="xs:integer"/>
	</xs:complexType>
	<xs:complexType name="GEWICHT_type">
		<xs:attribute name="hebelimit" type="xs:integer"/>
		<xs:attribute name="traglast" type="xs:integer"/>
	</xs:complexType>
	<xs:complexType name="INITIATIVE_type">
		<xs:attribute name="step" type="xs:integer" use="required"/>
		<xs:attribute name="dice" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="KARMA_type">
		<xs:attribute name="current" type="xs:integer" use="required"/>
		<xs:attribute name="cost" type="xs:integer" use="required"/>
		<xs:attribute name="max" type="xs:integer" use="required"/>
		<xs:attribute name="step" type="xs:integer" use="required"/>
		<xs:attribute name="dice" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="LP_type">
		<xs:attribute name="bemerkung" type="xs:string" use="required"/>
		<xs:attribute name="lp" type="xs:integer" use="required"/>
		<xs:attribute name="typ" type="plusminus_type" use="required"/>
		<xs:attribute name="zeit" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="LEGENDENPUNKTE_type">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" name="LP" type="LP_type"/>
		</xs:choice>
		<xs:attribute name="aktuellelp" type="xs:integer" use="required"/>
		<xs:attribute name="gesamtlp" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="ARMOR_type">
		<xs:attribute name="bezeichnung" type="xs:string" use="required"/>
		<xs:attribute name="gewicht" type="xs:decimal" use="required"/>
		<xs:attribute name="aktiv" type="yesno_type" use="required"/>
		<xs:attribute name="behinderung" type="xs:integer" use="required"/>
		<xs:attribute name="bruchschwelle" type="xs:integer" use="required"/>
		<xs:attribute name="mystisch" type="xs:integer" use="required"/>
		<xs:attribute name="physikalisch" type="xs:integer" use="required"/>
		<xs:attribute name="ort" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SCHADEN_type">
		<xs:attribute name="blut" type="xs:integer" use="required"/>
		<xs:attribute name="schaden" type="xs:integer" use="required"/>
		<xs:attribute name="wunden" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="SKILL_type">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="action" type="yesno_type" use="required"/>
		<xs:attribute name="strain" type="xs:integer" use="required"/>
		<xs:attribute name="attribute" type="xs:integer" use="required"/>
		<xs:attribute name="rank" type="xs:integer" use="required"/>
		<xs:attribute name="step" type="xs:integer" use="required"/>
		<xs:attribute name="dice" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TALENT_type">
		<xs:complexContent>
			<xs:extension base="SKILL_type">
				<xs:attribute name="karma" type="yesno_type" use="required"/>
				<xs:attribute name="discipline" type="yesno_type" use="required"/>
				<xs:attribute name="circle" type="xs:integer" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TALENTS_type">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" name="talent" type="TALENT_type"/>
		</xs:choice>
		<xs:attribute name="discipline" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SKILLS_type">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" name="skill" type="SKILL_type"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TOD_type">
		<xs:attribute name="bewustlschwelle" type="xs:integer" use="required"/>
		<xs:attribute name="erholproben" type="xs:integer" use="required"/>
		<xs:attribute name="todschwelle" type="xs:integer" use="required"/>
		<xs:attribute name="verwundschwelle" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="WAFFE_type">
		<xs:attribute name="bezeichnung" type="xs:string" use="required"/>
		<xs:attribute name="gewicht" type="xs:decimal" use="required"/>
		<xs:attribute name="mittel" type="xs:integer" use="required"/>
		<xs:attribute name="nah" type="xs:integer" use="required"/>
		<xs:attribute name="ort" type="xs:string" use="required"/>
		<xs:attribute name="schaden" type="xs:integer" use="required"/>
		<xs:attribute name="weit" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="WAFFEN_type">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" name="WAFFE" type="WAFFE_type"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DEFENSE_type">
		<xs:attribute name="physical" type="xs:integer" use="required"/>
		<xs:attribute name="spell" type="xs:integer" use="required"/>
		<xs:attribute name="social" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="SPELL_type">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="inmatrix" type="yesno_type" use="required"/>
		<xs:attribute name="type" type="xs:integer" use="required"/>
		<xs:attribute name="circle" type="xs:integer" use="required"/>
		<xs:attribute name="threads" type="xs:integer" use="required"/>
		<xs:attribute name="weavingdifficulty" type="xs:string" use="required"/>
		<xs:attribute name="castingdifficulty" type="xs:string" use="required"/>
		<xs:attribute name="range" type="xs:string" use="required"/>
		<xs:attribute name="duration" type="xs:string" use="required"/>
		<xs:attribute name="effect" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SPELLS_type">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" name="SPELL" type="SPELL_type"/>
		</xs:choice>
		<xs:attribute name="disziplin" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="EDCHARAKTER">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" name="ATTRIBUT" type="ATTRIBUT_type"/>
				<xs:element maxOccurs="unbounded" name="AUSRUESTUNG" type="AUSRUESTUNG_type"/>
				<xs:element name="BEMERKUNG" type="xs:string"/>
				<xs:element name="BEWEGEN" type="BEWEGEN_type"/>
				<xs:element maxOccurs="3" name="DISCIPLINE" type="DISCIPLINE_type"/>
				<xs:element maxOccurs="unbounded" name="SKILLS" type="SKILLS_type"/>
				<xs:element maxOccurs="unbounded" name="GELD" type="GELD_type"/>
				<xs:element name="GEWICHT" type="GEWICHT_type"/>
				<xs:element name="INITIATIVE" type="INITIATIVE_type"/>
				<xs:element name="KARMA" type="KARMA_type"/>
				<xs:element name="LEGENDENPUNKTE" type="LEGENDENPUNKTE_type"/>
				<xs:element maxOccurs="unbounded" name="ARMOR" type="ARMOR_type"/>
				<xs:element name="SCHADEN" type="SCHADEN_type"/>
				<xs:element maxOccurs="unbounded" name="TALENTS" type="TALENTS_type"/>
				<xs:element name="TOD" type="TOD_type"/>
				<xs:element maxOccurs="unbounded" name="WAFFEN" type="WAFFEN_type"/>
				<xs:element name="DEFENSE" type="DEFENSE_type"/>
				<xs:element maxOccurs="unbounded" name="SPELLS" type="SPELLS_type"/>
			</xs:choice>
			<xs:attribute name="age" type="xs:integer" use="required"/>
			<xs:attribute name="eyes" type="xs:string" use="required"/>
			<xs:attribute name="gender" type="geschlecht_type" use="required"/>
			<xs:attribute name="weight" type="xs:integer" use="required"/>
			<xs:attribute name="height" type="xs:integer" use="required"/>
			<xs:attribute name="hair" type="xs:string" use="required"/>
			<xs:attribute name="skin" type="xs:string" use="required"/>
			<xs:attribute name="race" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
