config/earthdawndatatypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://earthdawn.com/datatypes" xmlns="http://earthdawn.com/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ATTRIBUTE_name_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHA"/>
			<xs:enumeration value="DEX"/>
			<xs:enumeration value="STR"/>
			<xs:enumeration value="PER"/>
			<xs:enumeration value="WIL"/>
			<xs:enumeration value="TOU"/>
			<xs:enumeration value="na"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MOVEMENTATTRIBUTE_name_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEX"/>
			<xs:enumeration value="STR"/>
			<xs:enumeration value="STR+DEX"/>
			<xs:enumeration value="MAX"/>
			<xs:enumeration value="na"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rulesetversion_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ED3"/>
			<xs:enumeration value="ED4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lpincrease_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="-2"/>
			<xs:maxInclusive value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="attcost_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="-2"/>
			<xs:maxInclusive value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="circle_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_int">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_float">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="plusminus_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="+"/>
			<xs:enumeration value="-"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="language_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="de"/>
			<xs:enumeration value="en"/>
			<xs:enumeration value="pl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yesno_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes"/>
			<xs:enumeration value="no"/>
			<xs:enumeration value="na"/>
			<xs:enumeration value="depends"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="learnedby_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="no"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="skill"/>
			<xs:enumeration value="talent"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="action_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sustained"/>
			<xs:enumeration value="standard"/>
			<xs:enumeration value="simple"/>
			<xs:enumeration value="free"/>
			<xs:enumeration value="na"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gender_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="male"/>
			<xs:enumeration value="female"/>
			<xs:enumeration value="-"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="spellkind_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="elemental"/>
			<xs:enumeration value="nether"/>
			<xs:enumeration value="illusion"/>
			<xs:enumeration value="wizard"/>
			<xs:enumeration value="shamane"/>
			<xs:enumeration value="sorcery"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="defensekind_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="physical"/>
			<xs:enumeration value="spell"/>
			<xs:enumeration value="social"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="elementkind_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="undefined"/>
			<xs:enumeration value="wood"/>
			<xs:enumeration value="earth"/>
			<xs:enumeration value="water"/>
			<xs:enumeration value="air"/>
			<xs:enumeration value="fire"/>
			<xs:enumeration value="illusion"/>
			<xs:enumeration value="fear"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dice_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="d6-3"/>
			<xs:enumeration value="d6-2"/>
			<xs:enumeration value="d6-1"/>
			<xs:enumeration value="d6"/>
			<xs:enumeration value="d8"/>
			<xs:enumeration value="d10"/>
			<xs:enumeration value="d12"/>
			<xs:enumeration value="2d6"/>
			<xs:enumeration value="d8+d6"/>
			<xs:enumeration value="2d8"/>
			<xs:enumeration value="d10+d8"/>
			<xs:enumeration value="2d10"/>
			<xs:enumeration value="d12+d10"/>
			<xs:enumeration value="2d12"/>
			<xs:enumeration value="d12+2d6"/>
			<xs:enumeration value="d12+d8+d6"/>
			<xs:enumeration value="d12+2d8"/>
			<xs:enumeration value="d12+d10+d8"/>
			<xs:enumeration value="d12+2d10"/>
			<xs:enumeration value="2d12+d10"/>
			<xs:enumeration value="3d12"/>
			<xs:enumeration value="2d12+2d6" />
			<xs:enumeration value="2d12+d8+d6" />
			<xs:enumeration value="2d12+2d8" />
			<xs:enumeration value="2d12+d10+d8" />
			<xs:enumeration value="2d12+2d10" />
			<xs:enumeration value="3d12+d10" />
			<xs:enumeration value="4d12" />
			<xs:enumeration value="3d12+2d6" />
			<xs:enumeration value="3d12+d8+d6" />
			<xs:enumeration value="3d12+2d8" />
			<xs:enumeration value="3d12+d10+d8" />
			<xs:enumeration value="3d12+2d10" />
			<xs:enumeration value="4d12+d10" />
			<xs:enumeration value="5d12" />
			<xs:enumeration value="4d12+2d6" />
			<xs:enumeration value="4d12+d8+d6" />
			<xs:enumeration value="4d12+2d8" />
			<xs:enumeration value="4d12+d10+d8" />
			<xs:enumeration value="4d12+2d10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="itemkind_type"> 
		<xs:restriction base="xs:string">
			<xs:enumeration value="undefined"/>
			<xs:enumeration value="ammunition"/>
			<xs:enumeration value="amulet"/>
			<xs:enumeration value="animal"/>
			<xs:enumeration value="armor"/>
			<xs:enumeration value="artisan"/>
			<xs:enumeration value="bag"/>
			<xs:enumeration value="book"/>
			<xs:enumeration value="boot"/>
			<xs:enumeration value="brooch"/>
			<xs:enumeration value="cloth"/>
			<xs:enumeration value="coins"/>
			<xs:enumeration value="drink"/>
			<xs:enumeration value="food"/>
			<xs:enumeration value="gems"/>
			<xs:enumeration value="instrument"/>
			<xs:enumeration value="kit"/>
			<xs:enumeration value="light"/>
			<xs:enumeration value="melee weapon"/>
			<xs:enumeration value="missile weapon"/>
			<xs:enumeration value="mount"/>
			<xs:enumeration value="paper"/>
			<xs:enumeration value="pen"/>
			<xs:enumeration value="pot"/>
			<xs:enumeration value="potion"/>
			<xs:enumeration value="ration"/>
			<xs:enumeration value="ring"/>
			<xs:enumeration value="salve"/>
			<xs:enumeration value="stone"/>
			<xs:enumeration value="shield"/>
			<xs:enumeration value="talisman"/>
			<xs:enumeration value="throwing weapon"/>
			<xs:enumeration value="tool"/>
			<xs:enumeration value="transport"/>
			<xs:enumeration value="vambrace"/>
			<xs:enumeration value="wand"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="patternkind_type"> 
		<xs:restriction base="xs:string">
			<xs:enumeration value="minor"/>
			<xs:enumeration value="major"/>
			<xs:enumeration value="core"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="acronym_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="stringlist_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="delimiter" type="xs:string" default=" "/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="base64binary_type">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="contenttype" type="xs:string" default="image/jpeg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="spelldescription_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="STEPDICE_type">
		<xs:attribute name="step" type="unsigned_int" default="0"/>
		<xs:attribute name="dice" type="dice_type"/>
	</xs:complexType>
	<xs:complexType name="ROLLEDDICE_type">
		<xs:attribute name="dice" type="dice_type" use="required"/>
		<xs:attribute name="rolling" type="xs:string" use="required"/>
		<xs:attribute name="result" type="unsigned_int" use="required"/>
		<xs:attribute name="pathetic" type="unsigned_int" use="required"/>
		<xs:attribute name="poor" type="unsigned_int" use="required"/>
		<xs:attribute name="average" type="unsigned_int" use="required"/>
		<xs:attribute name="good" type="unsigned_int" use="required"/>
		<xs:attribute name="excellent" type="unsigned_int" use="required"/>
		<xs:attribute name="extraordinary" type="unsigned_int" use="required"/>
	</xs:complexType>
	<xs:complexType name="ATTRIBUTE_type">
		<xs:complexContent>
			<xs:extension base="STEPDICE_type">
				<xs:attribute name="name" type="ATTRIBUTE_name_type" use="required"/>
				<xs:attribute name="racevalue" type="unsigned_int" default="10"/>
				<xs:attribute name="generationvalue" type="xs:int" default="0"/>
				<xs:attribute name="basevalue" type="unsigned_int" default="0"/>
				<xs:attribute name="lpincrease" type="lpincrease_type" default="0"/>
				<xs:attribute name="currentvalue" type="unsigned_int" default="10"/>
				<xs:attribute name="cost" type="attcost_type" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RECOVERY_type">
		<xs:complexContent>
			<xs:extension base="STEPDICE_type">
				<xs:attribute name="testsperday" type="unsigned_int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="INITIATIVE_type">
		<xs:complexContent>
			<xs:extension base="STEPDICE_type">
				<xs:attribute name="base" type="unsigned_int" use="required"/>
				<xs:attribute name="modification" type="xs:int" default="0"/>
				<xs:attribute name="armorpenalty" type="unsigned_int" default="0"/>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RANK_type">
		<xs:complexContent>
			<xs:extension base="STEPDICE_type">
				<xs:attribute name="startrank" type="unsigned_int" default="0"/>
				<xs:attribute name="realignedrank" type="unsigned_int" default="0"/>
				<xs:attribute name="rank" type="unsigned_int" default="0"/>
				<xs:attribute name="bonus" type="xs:int" default="0"/>
				<xs:attribute name="lpcost" type="unsigned_int" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KNACK_type">
		<xs:attribute name="name"  type="xs:string" use="required"/>
		<xs:attribute name="strain" type="xs:string" default="0"/>
		<xs:attribute name="minrank" type="unsigned_int" default="0"/>
		<xs:attribute name="learnedbymincircle" type="circle_type" default="0"/>
		<xs:attribute name="bookref" type="xs:string" default=""/>
	</xs:complexType>
	<xs:complexType name="TALENTTEACHER_type">
		<xs:attribute name="name" type="xs:string" default=""/>
		<xs:attribute name="discipline" type="xs:string" default=""/>
		<xs:attribute name="talentcircle" type="circle_type" default="1"/>
		<xs:attribute name="teachercircle" type="circle_type" default="1"/>
		<xs:attribute name="comment" type="xs:string" default=""/>
		<xs:attribute name="byversatility" type="yesno_type" default="no"/>
	</xs:complexType>
	<xs:complexType name="RANKHISTORY_type">
		<xs:attribute name="rank"  type="unsigned_int" use="required"/>
		<xs:attribute name="mincircle" type="circle_type" use="required"/>
	</xs:complexType>
	<xs:complexType name="CAPABILITY_type">
		<xs:sequence>
			<xs:element name="LIMITATION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="action" type="action_type" default="standard"/>
		<xs:attribute default="0" name="strain" type="xs:string"/>
		<xs:attribute name="attribute" type="ATTRIBUTE_name_type"/>
		<xs:attribute default="0" name="bonus" type="xs:int"/>
		<xs:attribute name="karma" type="yesno_type" default="no"/>
		<xs:attribute name="default" type="yesno_type" default="no"/>
		<xs:attribute name="bookref" type="xs:string" default=""/>
		<xs:attribute name="realigned" type="unsigned_int" default="0"/>
		<xs:attribute name="isinitiative" type="yesno_type" default="no"/>
		<xs:attribute name="notbyversatility" type="yesno_type" default="no"/>
		<xs:attribute name="skilluse" type="unsigned_int" default="0"/>
		<xs:attribute name="canimprovised" type="yesno_type" default="no"/>
	</xs:complexType>
	<xs:complexType name="SKILL_type">
		<xs:complexContent>
			<xs:extension base="CAPABILITY_type">
				<xs:sequence>
					<xs:element name="RANK" type="RANK_type" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TALENT_type">
		<xs:complexContent>
			<xs:extension base="SKILL_type">
				<xs:sequence>
					<xs:element name="TEACHER" type="TALENTTEACHER_type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="KNACK" type="KNACK_type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="RANKHISTORY" type="RANKHISTORY_type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ALIGNEDSKILL" type="SKILL_type" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="circle" type="circle_type" use="required"/>
				<xs:attribute name="pool" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WOUND_type">
		<xs:attribute name="threshold" type="unsigned_int" use="required"/>
		<xs:attribute name="normal" type="unsigned_int" default="0"/>
		<xs:attribute name="blood" type="unsigned_int" default="0"/>
		<xs:attribute name="penalties" type="unsigned_int" default="0"/>
	</xs:complexType>
	<xs:complexType name="DEATH_type">
		<xs:attribute name="base" type="unsigned_int" default="0"/>
		<xs:attribute name="adjustment" type="xs:int" default="0"/>
		<xs:attribute name="value" type="unsigned_int" default="0"/>
	</xs:complexType>
	<xs:complexType name="ITEM_type">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="IMAGE" type="base64binary_type"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="weight" type="xs:float" use="required"/>
		<xs:attribute name="size" type="unsigned_int" default="0"/>
		<xs:attribute name="used" type="yesno_type" default="yes"/>
		<xs:attribute name="location" type="xs:string" default="self"/>
		<xs:attribute name="kind" type="itemkind_type" default="undefined"/>
		<xs:attribute name="virtual" type="yesno_type" default="no"/>
		<xs:attribute name="blooddamage" type="unsigned_int" default="0"/>
		<xs:attribute name="depatterningrate" type="unsigned_int" default="0"/>
		<xs:attribute name="bookref" type="xs:string" default=""/>
		<xs:attribute name="price" type="xs:float" default="0"/>
	</xs:complexType>
	<xs:complexType name="MOVEMENT_type">
		<xs:attribute name="flight" type="unsigned_int"/>
		<xs:attribute name="ground" type="unsigned_int" use="required"/>
	</xs:complexType>
	<xs:complexType name="DISCIPLINEBONUS_type">
		<xs:attribute name="circle" type="circle_type" use="required"/>
		<xs:attribute name="bonus" type="xs:string"  use="required"/>
	</xs:complexType>
	<xs:complexType name="DISCIPLINE_type">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="DISCIPLINEBONUS" type="DISCIPLINEBONUS_type"/>
			<xs:element minOccurs="0" maxOccurs="1" name="KARMARITUAL" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="1" name="HALFMAGIC" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="DISZIPLINETALENT" type="TALENT_type"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="OPTIONALTALENT" type="TALENT_type"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="FREETALENT" type="TALENT_type"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="SPELL" type="SPELL_type"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="circle" type="circle_type" use="required"/>
		<xs:attribute name="usedstartranks" type="xs:int" default="0"/>
		<xs:attribute name="usedspellabilities" type="xs:int" default="0"/>
		<xs:attribute name="primelement" type="elementkind_type" default="undefined"/>
		<xs:attribute name="durability" type="xs:int" default="0"/>
	</xs:complexType>
	<xs:complexType name="COINS_type">
		<xs:complexContent>
			<xs:extension base="ITEM_type">
				<xs:attribute name="copper" type="unsigned_int" default="0"/>
				<xs:attribute name="silver" type="unsigned_int" default="0"/>
				<xs:attribute name="gold" type="unsigned_int" default="0"/>
				<xs:attribute name="gem50" type="unsigned_int" default="0"/>
				<xs:attribute name="gem100" type="unsigned_int" default="0"/>
				<xs:attribute name="gem200" type="unsigned_int" default="0"/>
				<xs:attribute name="gem500" type="unsigned_int" default="0"/>
				<xs:attribute name="gem1000" type="unsigned_int" default="0"/>
				<xs:attribute name="earth" type="unsigned_int" default="0"/>
				<xs:attribute name="water" type="unsigned_int" default="0"/>
				<xs:attribute name="fire" type="unsigned_int" default="0"/>
				<xs:attribute name="air" type="unsigned_int" default="0"/>
				<xs:attribute name="orichalcum" type="unsigned_int" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CARRYING_type">
		<xs:attribute name="lifting" type="unsigned_int"/>
		<xs:attribute name="carrying" type="unsigned_int"/>
	</xs:complexType>
	<xs:complexType name="ACCOUNTING_type">
		<xs:attribute name="type" type="plusminus_type" use="required"/>
		<xs:attribute name="value" type="unsigned_int" use="required"/>
		<xs:attribute name="comment" type="xs:string" use="required"/>
		<xs:attribute name="when" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DEVOTION_type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="DEVOTIONPOINTS" type="ACCOUNTING_type"/>
		</xs:sequence>
		<xs:attribute name="passion" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:int" default="0"/>
	</xs:complexType>
	<xs:complexType name="EXPERIENCE_type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="LEGENDPOINTS" type="ACCOUNTING_type"/>
		</xs:sequence>
		<xs:attribute name="totallegendpoints" type="unsigned_int" use="required"/>
		<xs:attribute name="currentlegendpoints" type="xs:int" use="required"/>
		<xs:attribute name="renown" type="xs:int" use="required"/>
		<xs:attribute name="reputation" type="xs:string" default="na"/>
	</xs:complexType>
	<xs:complexType name="KARMA_type">
		<xs:complexContent>
			<xs:extension base="STEPDICE_type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="KARMAPOINTS" type="ACCOUNTING_type"/>
				</xs:sequence>
				<xs:attribute name="current" type="unsigned_int" use="required"/>
				<xs:attribute name="max" type="unsigned_int" use="required"/>
				<xs:attribute name="maxmodificator" type="xs:int" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ARMOR_type">
		<xs:complexContent>
			<xs:extension base="ITEM_type">
				<xs:attribute name="physicalarmor" type="unsigned_int" default="0"/>
				<xs:attribute name="mysticarmor" type="unsigned_int" default="0"/>
				<xs:attribute name="penalty" type="unsigned_int" default="0"/>
				<xs:attribute name="edn" type="unsigned_int" default="0"/>
				<xs:attribute name="edn_element" type="elementkind_type" default="undefined"/>
				<xs:attribute name="timesforged_physical" type="unsigned_int" default="0"/>
				<xs:attribute name="timesforged_mystic" type="unsigned_int" default="0"/>
				<xs:attribute name="dateforged" type="xs:string" default=""/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SHIELD_type">
		<xs:complexContent>
			<xs:extension base="ARMOR_type">
				<xs:attribute name="shatterthreshold" type="unsigned_int" default="0"/>
				<xs:attribute name="physicaldeflectionbonus" type="unsigned_int" default="0"/>
				<xs:attribute name="mysticdeflectionbonus" type="unsigned_int" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="THREADRANK_type">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ARMOR" type="ARMOR_type">
				<xs:annotation>
					<xs:documentation>If the magic item is a armor the current armor values are named here. This will automatic update the armor inventory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="SHIELD" type="SHIELD_type">
				<xs:annotation>
					<xs:documentation>If the magic item is a armor the current armor values are named here. This will automatic update the armor inventory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="WEAPON" type="WEAPON_type">
				<xs:annotation>
					<xs:documentation>If the magic item is a weapon the current weapon values are named here. This will automatic update the weapn inventory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="WOUND" type="WOUND_type"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="DEFENSE" type="DEFENSEABILITY_type"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="TALENT" type="TALENTABILITY_type">
				<xs:annotation>
					<xs:documentation>Names a Talent which receive a +1 rank bonus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="SPELL" type="xs:string">
				<xs:annotation>
					<xs:documentation>Names Spell which additionally can be learned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="SPELLABILITY" type="DISZIPINABILITY_type">
				<xs:annotation>
					<xs:documentation>Indicates that one spell can be learned for free.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="INITIATIVE" type="DISZIPINABILITY_type">
				<xs:annotation>
					<xs:documentation>Increased the initiative step by one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="RECOVERYTEST" type="DISZIPINABILITY_type">
				<xs:annotation>
					<xs:documentation>Increased the recovery test step by one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="KARMASTEP" type="DISZIPINABILITY_type">
				<xs:annotation>
					<xs:documentation>Increased the karma step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="MAXKARMA" type="DISZIPINABILITY_type">
				<xs:annotation>
					<xs:documentation>Increased the max karma value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ABILITY" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="keyknowledge" type="xs:string" default="">
			<xs:annotation>
				<xs:documentation>Is the Key Knowledge is known by the character.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lpcost" type="unsigned_int" default="0">
			<xs:annotation>
				<xs:documentation>Is calculated by the attribute lpcostgrowth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deed" type="xs:string" default=""/>
		<xs:attribute name="effect" type="xs:string" default=""/>
	</xs:complexType>
	<xs:complexType name="MAGICITEM_type">
		<xs:complexContent>
			<xs:extension base="ITEM_type">
				<xs:attribute name="spelldefense" type="unsigned_int" default="0"/>
				<xs:attribute name="enchantingdifficultynumber" type="unsigned_int" default="0"/>
				<xs:attribute name="effect" type="xs:string" default=""/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PATTERNITEM_type">
		<xs:complexContent>
			<xs:extension base="MAGICITEM_type">
				<xs:attribute name="patternkind" type="patternkind_type" default="minor"/>
				<xs:attribute name="truepattern" type="xs:string" default=""/>
				<xs:attribute name="keyknowledge" type="xs:string" default=""/>
				<xs:attribute name="weaventhreadrank" type="unsigned_int" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="THREADITEM_type">
		<xs:complexContent>
			<xs:extension base="MAGICITEM_type">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="ARMOR" type="ARMOR_type">
						<xs:annotation><xs:documentation>If the magic item is a armor the current armor values are named here. This will automatic update the armor inventory.</xs:documentation></xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="1" name="SHIELD" type="SHIELD_type">
						<xs:annotation><xs:documentation>If the magic item is a armor the current armor values are named here. This will automatic update the armor inventory.</xs:documentation></xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="1" name="WEAPON" type="WEAPON_type">
						<xs:annotation><xs:documentation>If the magic item is a weapon the current weapon values are named here. This will automatic update the weapn inventory.</xs:documentation></xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="THREADRANK" type="THREADRANK_type" />
				</xs:sequence>
				<xs:attribute name="weaventhreadrank" type="unsigned_int" default="0" />
				<xs:attribute name="maxthreads" type="unsigned_int" default="2" />
				<xs:attribute name="lpcostgrowth" type="unsigned_int" default="5">
					<xs:annotation><xs:documentation>Determines the amount of legend points a character has to spend to waeve the individual thread ranks. These correlate to the cost for increasing talent ranks of talents with the named number as talent circle.</xs:documentation></xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HEALTH_type">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="RECOVERY" type="RECOVERY_type"/>
			<xs:element maxOccurs="1" minOccurs="1" name="UNCONSCIOUSNESS" type="DEATH_type"/>
			<xs:element maxOccurs="1" minOccurs="1" name="DEATH" type="DEATH_type"/>
			<xs:element maxOccurs="1" minOccurs="1" name="WOUNDS" type="WOUND_type"/>
		</xs:sequence>
		<xs:attribute name="damage" type="unsigned_int" default="0"/>
		<xs:attribute name="blooddamage" type="unsigned_int" default="0"/>
		<xs:attribute name="depatterningrate" type="unsigned_int" default="0"/>
	</xs:complexType>
	<xs:complexType name="WEAPON_type">
		<xs:complexContent>
			<xs:extension base="ITEM_type">
				<xs:attribute name="damagestep" type="unsigned_int" use="required"/>
				<xs:attribute name="dexteritymin" type="unsigned_int" default="0"/>
				<xs:attribute name="strengthmin" type="unsigned_int" use="required"/>
				<xs:attribute name="shortrange" type="unsigned_int" default="0"/>
				<xs:attribute name="longrange" type="unsigned_int" default="0"/>
				<xs:attribute name="timesforged" type="unsigned_int" default="0"/>
				<xs:attribute name="dateforged" type="xs:string" default=""/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AMMUNITION_type">
		<xs:complexContent>
			<xs:extension base="ITEM_type">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="unbounded" name="WEAPON" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DEFENSE_type">
		<xs:attribute name="physical" type="unsigned_int" use="required"/>
		<xs:attribute name="spell" type="unsigned_int" use="required"/>
		<xs:attribute name="social" type="unsigned_int" use="required"/>
	</xs:complexType>
	<xs:complexType name="SPELLDEF_type">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="element" type="elementkind_type" default="undefined"/>
		<xs:attribute name="threads" type="xs:string" default="0"/>
		<xs:attribute name="weavingdifficulty" type="xs:string" default="na"/>
		<xs:attribute name="reattuningdifficulty" type="unsigned_int" default="0"/>
		<xs:attribute name="castingdifficulty" type="xs:string" default="TSD"/>
		<xs:attribute name="range" type="xs:string" default="s. text"/>
		<xs:attribute name="duration" type="xs:string" default="s. text"/>
		<xs:attribute name="effect" type="xs:string" default="s. text"/>
		<xs:attribute name="effectarea" type="xs:string" default="s. text"/>
		<xs:attribute name="bookref" type="xs:string" default=""/>
	</xs:complexType>
	<xs:complexType name="SPELL_type">
		<xs:complexContent>
			<xs:extension base="SPELLDEF_type">
				<xs:attribute name="inmatrix" type="yesno_type" default="no"/>
				<xs:attribute name="byspellability" type="yesno_type" default="no"/>
				<xs:attribute name="type" type="spellkind_type" use="required"/>
				<xs:attribute name="circle" type="circle_type" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PROTECTION_type">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ARMOR" type="ARMOR_type"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SHIELD" type="SHIELD_type"/>
		</xs:choice>
		<xs:attribute name="physicalarmor" type="unsigned_int" use="required"/>
		<xs:attribute name="mysticarmor" type="unsigned_int" use="required"/>
		<xs:attribute name="penalty" type="unsigned_int" use="required"/>
	</xs:complexType>
	<xs:complexType name="APPEARANCE_type">
		<xs:attribute name="gender" type="gender_type" use="required"/>
		<xs:attribute name="age" type="unsigned_int" use="required"/>
		<xs:attribute name="height" type="unsigned_float" use="required"/>
		<xs:attribute name="weight" type="unsigned_float" use="required"/>
		<xs:attribute name="eyes" type="xs:string" use="required"/>
		<xs:attribute name="hair" type="xs:string" use="required"/>
		<xs:attribute name="skin" type="xs:string" use="required"/>
		<xs:attribute name="race" type="xs:string" use="required"/>
		<xs:attribute name="birth" type="xs:string" default=""/>
		<xs:attribute name="origin" type="xs:string" default=""/>
	</xs:complexType>
	<xs:complexType name="DISZIPINABILITY_type">
		<xs:attribute name="count" type="unsigned_int" default="1"/>
	</xs:complexType>
	<xs:complexType name="TALENTABILITY_type">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="limitation" type="xs:string" default=""/>
		<xs:attribute name="bonus" type="unsigned_int" default="1"/>
		<xs:attribute name="pool" type="xs:string" default=""/>
		<xs:attribute name="replace" type="xs:string" default=""/>
	</xs:complexType>
	<xs:complexType name="KARMAABILITY_type">
		<xs:attribute name="spend" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DEFENSEABILITY_type">
		<xs:annotation>
			<xs:documentation>Indicates which defense type will be increased by one.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="kind" type="defensekind_type" default="physical"/>
		<xs:attribute name="bonus" type="unsigned_int" default="1"/>
	</xs:complexType>
	<xs:complexType name="USEDSTARTRANKS_type">
		<xs:attribute name="talents" type="xs:int" default="0"/>
		<xs:attribute name="skills" type="xs:int" default="0"/>
		<xs:attribute name="spells" type="xs:int" default="0"/>
	</xs:complexType>
	<xs:complexType name="CHARACTERLANGUAGE_type">
		<xs:attribute name="language" type="xs:string" use="required"/>
		<xs:attribute name="speak" type="learnedby_type" default="no"/>
		<xs:attribute name="readwrite" type="learnedby_type" default="no"/>
	</xs:complexType>
	<xs:complexType name="CREATURE_type">
		<xs:complexContent>
			<xs:extension base="ITEM_type">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="APPEARANCE" type="APPEARANCE_type"/>
					<xs:element minOccurs="6" maxOccurs="6" name="ATTRIBUTE" type="ATTRIBUTE_type"/>
					<xs:element minOccurs="0" maxOccurs="1" name="DEFENSE" type="DEFENSE_type"/>
					<xs:element minOccurs="0" maxOccurs="1" name="PROTECTION" type="PROTECTION_type"/>
					<xs:element minOccurs="0" maxOccurs="1" name="HEALTH" type="HEALTH_type"/>
					<xs:element minOccurs="0" maxOccurs="1" name="MOVEMENT" type="MOVEMENT_type"/>
					<xs:element minOccurs="0" maxOccurs="1" name="INITIATIVE" type="INITIATIVE_type"/>
					<xs:element minOccurs="0" maxOccurs="1" name="CARRYING" type="CARRYING_type"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="SKILL" type="SKILL_type"/>
					<xs:element minOccurs="1" maxOccurs="1" name="KARMA" type="KARMA_type"/>
					<xs:element minOccurs="0" maxOccurs="1" name="RACEABILITES" type="xs:string" default=""/>
					<xs:element minOccurs="0" maxOccurs="1" name="COMMENT" type="xs:string" default=""/>
				</xs:sequence>
				<xs:attribute name="familiar" type="yesno_type" default="no"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
